
    <div id="page_content_inner" ng-controller="buy_coupon">
        <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
            <div class="uk-width-large-1-11">
                <div class="md-card user_content">
                    <form class="buy-coupon" id="form" data-ng-submit="submit()">
                        <h4 class="heading_c uk-margin-bottom ">Buy coupon </h4>

                        <div class="uk-grid form_section " id="d_form_row" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2">
                                <label>Coupon amount</label>
                                <input type="text" class="md-input" name="amount">
                            </div>
                        </div>
                        <div class="uk-grid">
                            <div class="uk-width-large-1-2">
                                <button class="md-btn md-btn-primary" button-name="save_and_new">Save</button>
                                <button type="reset" class="md-btn md-btn-info">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-margin-bottom">
                            <a href="#" class=" " id="printTable" data-uk-tooltip="{pos:'top'}" title="Print">
                                <i class="material-icons md-icon">print</i>
                            </a>
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                                <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                                <div class="uk-dropdown">
                                    <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                                </div>
                            </div>

                        </div>
                        <div class="uk-overflow-container uk-margin-bottom">
                            <table  class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                                <thead>
                                <tr>
                                    <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all" name="f"></th>
                                    <th data-priority="critical">Coupon number</th>
                                    <!--<th data-priority="4">Status</th>-->
                                    <th data-priority="4">Entry date</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Coupon number</th>
                                    <!--<th>Status</th>-->
                                    <th>Entry date</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                    <tr data-ng-repeat="coupon in rows">
                                        <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                        <td>
                                            ((coupon.coupon_number))
                                        </td>
                                        <!--<td>
                                            <span class="uk-badge uk-badge-success" ng-if="coupon.status">Used</span>
                                            <span class="uk-badge uk-badge-danger" ng-if="!coupon.status">Unused</span>
                                        </td>-->
                                        <td>
                                            ((coupon.time))
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-include="((table_pagination_path))"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


