    <div id="page_content_inner" ng-controller="coupon_unlocker">
        <div class="uk-grid">
            <div class="uk-width-medium-2-10"></div>
            <div class="uk-width-medium-6-10 coupon-slider uk-margin-large-top">
                <div class="uk-slidenav-position uk-margin-large-bottom" data-uk-slider="{center:true,autoplayInterval: '3000',infinite:false}">
                    <div class="uk-slider-container">
                        <ul class="uk-slider uk-slider-center uk-grid " data-uk-grid-margin>

                            <li  class="uk-width-medium-8-10 " ng-repeat="block in sliders" data-block-id="((block.block_id))">
                                <div  class="single-coupon-area">

                                    <div class="md-card single-coupon relative" ng-repeat="es in block.estimated_ids" data-es-coupon="((coupon.id))">
                                        <div class="processing-bar"></div>
                                        <form class="coupon-unlock" id="form">
                                            <input type="hidden" name="block_id" value="((block.block_id))">
                                            <input type="hidden" name="round_id" value="((block.round_id))">

                                            <!-- defaul open part-->
                                            <div class="coupon-bar crach-bar ((es.status | if : 'hidden'))">
                                                <div class="md-btn md-btn-flat-primary coupon-button">
                                                    <label>Crach your coupon</label>
                                                </div>
                                                <div class="coupon-toolbar">
                                                    <i class="md-icon material-icons coupon-open">&#xE5D4;</i>
                                                </div>
                                            </div>
                                            <!-- show this  mobile number  field    for crach-->
                                            <div class="coupon-bar mobile-number-bar hidden ">
                                                <div class="coupon-input-field parsley-row">
                                                    <label>Enter Mobile number</label>
                                                    <input type="text" class="md-input" name="mobile_number" required>
                                                </div>
                                                <div class="coupon-toolbar">
                                                    <i class="md-icon material-icons coupon-next">navigate_next</i>
                                                    <i class="md-icon material-icons coupon-close">close</i>
                                                </div>
                                            </div>
                                            <!-- Coupon number entry-->
                                            <div class="coupon-bar input-bar hidden">
                                                <div class="coupon-input-field parsley-row">
                                                    <label>Enter coupon number</label>
                                                    <input type="text" class="md-input" name="coupon_number" required>
                                                </div>
                                                <div class="coupon-toolbar">
                                                    <i class="md-icon material-icons coupon-submit" data-ng-click="unlock( ((es.id)),$event )">lock_open</i>
                                                    <i class="md-icon material-icons coupon-close">close</i>
                                                    <div class="uk-button-dropdown" data-uk-dropdown="{pos:'left-top',mode:'click'}">
                                                        <i class="md-icon material-icons my-coupons" data-ng-click="my_coupons($event)">list_alt</i>
                                                        <div class="uk-dropdown uk-dropdown-small">
                                                            <ul class="uk-nav uk-text-left">
                                                                <li ng-repeat="item in my_coupon_list" data-ng-click="past_coupon( ((item.coupon_number)) ,$event )"><a href="">((item.coupon_number))</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- Already used --->
                                            <div class="coupon-bar coupon-message ((es.status | if : 'hidden' : 0))">
                                                <div class="coupon-input-field ">
                                                     <span class="used-text">Already used </span>
                                                </div>
                                                <div class="coupon-toolbar">
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
                    <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>
                </div>
                <div class="not-available md-card md-card-content" ng-if="!sliders.length">
                    <h3> <i class="material-icons">vpn_lock</i> ((not_found))</h3>
                </div>

            </div>

            <div class="uk-width-medium-2-10"></div>
        </div>
    </div>

