
    <div class="login_page_wrapper" ng-controller="login">
        <div class="md-card uk-margin-large-top" id="login_card">
            <div class="md-card-content large-padding" id="login_form">
                <div class="login_heading">
                    <div class="user_avatar">
                        <img src="">
                    </div>
                </div>
                <form class="login-form" id="form" data-ng-submit="login()">
                    <div class="uk-form-row">
                        <label for="login_username">Mobile</label>
                        <input class="md-input" type="text" id="login_username" name="mobile" />
                    </div>
                    <div class="uk-form-row">
                        <label for="login_password">Password</label>
                        <input class="md-input" type="password" id="login_password" name="password" />
                    </div>
                    <div class="recaptcha-area">

                        <!--<div class="g-recaptcha" data-sitekey="6Lf9OlQUAAAAAMwvhh8jc7PGeBrm5fElUg3imcFU"></div>-->
                    </div>
                    <div class="uk-margin-medium-top">
                        <button  class="md-btn md-btn-primary md-btn-block md-btn-large">Sign In</button>
                    </div>
                    <div class="uk-grid uk-grid-width-1-3 uk-grid-small uk-margin-top">
                        <!--this for place capchA-->
                    </div>
                </form>

            </div>

        </div>
        <div class="uk-margin-top " style="text-align:right">
            New <a href="registration" id="" class="">Registration</a>
            Or <a href="forgot-password" id="" class="">Forgot password</a>

        </div>
    </div>
