
        <div id="page_content_inner" ng-controller="products">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-3-3">
                    <div class="pos-items pos uk-grid-width-small-1-3 uk-grid-width-medium-1-4 uk-grid-width-large-1-6 hierarchical_show" data-uk-grid="{gutter: 20, controls: '#products_sort'}">
                        <div ng-repeat="item in rows" class="products-item">
                            <div class="md-card md-card-hover-img">
                                <div class="md-card-head uk-text-center uk-position-relative">
                                    <div class="uk-badge uk-badge-danger uk-position-absolute uk-position-top-left uk-margin-left uk-margin-top">((item.point)) Point</div>
                                    <img class="md-card-head-img" src="((item.images[0]))" alt=""/>
                                </div>
                                <div class="md-card-content">
                                    <h4 class="heading_c uk-margin-bottom">
                                        ((item.item_name))
                                    </h4>
                                    <p class="sub-heading">Price:
                                        <span ng-if="item.sale">
                                            <del>((item.price)) ((currency))</del>
                                            ((item.sale)) ((currency))
                                        </span>
                                        <span ng-if="!item.sale">
                                            ((item.price)) ((currency))
                                        </span>
                                    </p>
                                    <button class="md-btn md-btn-flat-primary md-btn-block">Add to cart</button>
                                </div>
                                <div class="cart-item-overlay-info">
                                    <div class="activated-item  ((item.store_item_id | object_exist : cart :'store_item_id' : '' : 'hidden'))" data-ng-click="add_to_cart( ((item.store_item_id)) )">
                                        <p class="item-total-amount"><span>((item.store_item_id | line_total : cart: 'store_item_id'))</span> tk</p>
                                        <div class="uk-grid uk-margin-remove">
                                            <div class="uk-width-medium-1-3 uk-padding-remove uk-width-small-1-3 uk-text-center">
                                                <button class="md-fab cart-item-left" data-ng-click="left_to_cart( ((item.store_item_id)) ,$event)"><i class="material-icons">remove</i></button>
                                            </div>
                                            <div class="uk-width-medium-1-3 uk-padding-remove uk-width-small-1-3 uk-text-center">
                                                <span class="item-quantity">((item.store_item_id | line_quantity : cart: 'store_item_id'))</span>
                                            </div>
                                            <div class="uk-width-medium-1-3 uk-padding-remove uk-width-small-1-3 uk-text-center">
                                                <button class="md-fab cart-item-add" data-ng-click="add_to_cart( ((item.store_item_id)) ,$event)"><i class="material-icons">add</i></button>
                                            </div>
                                        </div>



                                        <p>In Cart</p>
                                    </div>
                                    <div class="deactivated-item ((item.store_item_id | object_exist : cart :'store_item_id' : 'hidden' : ''))" data-ng-click="add_to_cart( ((item.store_item_id)) )">
                                        <p>Add to cart</p>
                                    </div>
                                    <div class="details">
                                        <a href="item/((item.store_item_id))" class="md-btn no_load md-btn-flat-primary md-btn-block"><i class="material-icons md-24">info</i> Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" ng-if="!rows.length">
                        <h1>Not found any products</h1>
                    </div>
                </div>
            </div>
        </div>