    <div id="page_content_inner" data-ng-controller="profile">
        <div class="uk-form-stacked ">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-1-1">
                    <div class="md-card">
                        <input type="hidden"  name="user_id" value="<?php echo $_REQUEST['team_member'];?>">
                        <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="((user.image))" alt="user avatar"/>
                                    <input type="hidden" name="before_image" value="">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b"><span class="uk-text-truncate" id="user_edit_uname">((user.name))</span><span class="sub-heading" id="user_edit_position">((user.user_name))</span></h2>
                            </div>
                            <div class="md-fab-wrapper">
                                <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                    <a href="edit-profile">
                                        <i class="material-icons" style="color:white;line-height:45px;font-size:25px">create</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="user_content">
                            <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">

                            </ul>
                            <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                                <li>
                                    <div class="uk-margin-top uk-margin-bottom">
                                        <div class="md-card md-card-primary" ng-if="registration_complete">
                                            <div class="md-card-content">
                                                Registration complete and if you want to <a href="login"><b>login here</b></a>
                                            </div>
                                        </div>
                                        <h3 class="full_width_in_card heading_c">
                                            General info
                                        </h3>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label for="user_edit_uname_control"><b>Name</b></label>
                                                <br>
                                                ((user.name))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Member ID</b></label>
                                                <br>
                                                ((user.user_id))
                                            </div>
                                        </div>

                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-2">
                                                <label ><b>Phone</b></label>
                                                <br>
                                                +((user.calling_code + "" +user.mobile))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Email</b></label>
                                                <br>
                                                ((user.email))
                                            </div>

                                        </div>
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Address </b></label>
                                                <br>
                                                ((user.address_line_1)) ((user.address_line_2))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Country </b></label>
                                                <br>
                                                ((user.nationality.country_name))
                                            </div>
                                        </div>
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Post code </b></label>
                                                <br>
                                                ((user.post_code))
                                            </div>
                                        </div>


                                    </div>
                                </li>

                            </ul>
                            <div class="uk-accordion" data-uk-accordion="{ collapse: false, showfirst:true }">
                                <h3 class="uk-accordion-title">Account information</h3>
                                <div class="uk-accordion-content">
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-1-2">
                                            <ul class="md-list">
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Point balance</span>
                                                        <span class="uk-text-small uk-text-muted">((tree_info.point_balance))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Referer</span>
                                                        <span ng-if="tree_info.referer.user_id" class="uk-text-small uk-text-muted">((tree_info.referer.name)) ( +((tree_info.referer.calling_code + tree_info.referer.mobile)) )

                                                        </span>
                                                        <span ng-if="!tree_info.referer.user_id" class="uk-text-small uk-text-muted">Not set</span>

                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Up line referer</span>
                                                        <span ng-if="tree_info.up_line_referer.user_id" class="uk-text-small uk-text-muted">((tree_info.up_line_referer.name)) ( +((tree_info.up_line_referer.calling_code + tree_info.up_line_referer.mobile)) )

                                                        </span>
                                                        <span ng-if="!tree_info.up_line_referer.user_id" class="uk-text-small uk-text-muted">Not set</span>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="uk-width-medium-1-2"  ng-if="!registration_complete">
                                            <div class="md-card" ng-if="balance_action">
                                                <div class="md-card-content" style="min-height: 300px;">
                                                    <h2 class="heading_a">Account balance ( ((tree_info.account_balance)) ((currency)) )</h2>
                                                    <!-- account balance top up -->
                                                    <div ng-if="top_up_switch">
                                                        <form class="top-up" id="form" data-ng-submit="top_up()" ng-if="!top_up_pending_switch">
                                                            <div class="uk-grid" data-uk-grid-margin >
                                                                <div class="uk-width-medium-1-1">
                                                                    <h5 class="uk-margin-top">Top up</h5>
                                                                </div>
                                                                <div class="uk-width-medium-1-1 ">
                                                                    <label>Amount</label>
                                                                    <input type="text" class="md-input" name="amount" value="0">
                                                                </div>
                                                                <div class="uk-width-medium-1-1 ">
                                                                    <label>Transaction id</label>
                                                                    <input type="text" class="md-input" name="transaction_number" value="">
                                                                </div>

                                                                <div class="uk-width-medium-1-1 parsley-row">
                                                                    <label>Description</label>
                                                                    <input type="text" class="md-input" name="description" value="">
                                                                </div>
                                                                <div class="uk-width-medium-1-1">
                                                                    <button class="md-btn md-btn-flat-primary uk-margin-top">Send</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <p class="uk-margin-large-top uk-text-warning" ng-if="top_up_pending_switch">Pending...</p>
                                                    </div>
                                                    <!-- exchange point for other work -->
                                                    <div ng-if="exchange_point_switch">
                                                        <form id="form" class="point-exchange" data-ng-submit="exchange_point()" ng-if="tree_info.point_balance">
                                                            <div class="uk-grid" data-uk-grid-margin>
                                                                <div class="uk-width-medium-1-1">
                                                                    <h5 class="uk-margin-top">Convert point</h5>
                                                                </div>
                                                                <div class="uk-width-medium-1-1 ">
                                                                    <label>Amount</label>
                                                                    <input type="text" class="md-input" name="amount" value="((tree_info.point_balance))">
                                                                </div>
                                                                <div class="uk-width-medium-1-1 parsley-row">
                                                                    <label>Description</label>
                                                                    <input type="text" class="md-input" name="description" value="">
                                                                </div>
                                                                <div class="uk-width-medium-1-1">
                                                                    <button class="md-btn md-btn-flat-primary uk-margin-top">Send</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <p class="uk-margin-large-top uk-text-warning" ng-if="!tree_info.point_balance">Insufficient point...</p>
                                                    </div>
                                                    <!-- withdraw for cash balance -->
                                                    <div ng-if="withdraw_switch">
                                                        <form class="withdraw" id="form" data-ng-submit="withdraw()" ng-if="!withdraw_pending_switch">
                                                            <div class="uk-grid" data-uk-grid-margin ng-if="tree_info.account_balance">
                                                                <div class="uk-width-medium-1-1">
                                                                    <h5 class="uk-margin-top">Withdraw</h5>
                                                                </div>
                                                                <div class="uk-width-medium-1-1 ">
                                                                    <label>Amount</label>
                                                                    <input type="text" class="md-input" name="amount" value="((tree_info.account_balance))">
                                                                </div>
                                                                <div class="uk-width-medium-1-1">
                                                                    <button class="md-btn md-btn-flat-primary uk-margin-top">Send</button>
                                                                </div>
                                                            </div>
                                                            <p class="uk-margin-large-top uk-text-warning" ng-if="!tree_info.account_balance">Insufficient balance...</p>
                                                        </form>
                                                        <p class="uk-margin-large-top uk-text-warning" ng-if="withdraw_pending_switch">Pending...</p>
                                                    </div>
                                                    <div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial">
                                                        <a class="md-fab md-fab-primary" href=""><i class="material-icons">attach_money</i></a>
                                                        <div class="md-fab-wrapper-small">
                                                            <a data-ng-click="open_top_up()" class="md-fab md-fab-small md-fab-warning" data-uk-tooltip="{pos: 'left'}" title="Top up" href=""><i class="material-icons">local_atm</i></a>
                                                            <a data-ng-click="open_exchange()" class="md-fab md-fab-small md-fab-success" data-uk-tooltip="{pos: 'left'}" title="Exchange point" href=""><i class="material-icons">transfer_within_a_station</i></a>
                                                            <a data-ng-click="open_withdraw()" class="md-fab md-fab-small md-fab-success" data-uk-tooltip="{pos: 'left'}" title="Withdraw" href=""><i class="material-icons">credit_card</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>