{% load staticfiles %}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="{% static 'OmbazarBackEnd/assets/img/favicon-16x16.png'%}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'OmbazarBackEnd/assets/img/favicon-32x32.png'%}" sizes="32x32">
    <title>Ombazar</title>
    <base href="/control/">
    <!-- uikit -->
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/bower_components/uikit/css/uikit.almost-flat.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/skins/jquery.fancytree/ui.fancytree.min.css' %}" media="all">
    <!-- dropify -->
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/skins/dropify/css/dropify.css' %}">
    <!-- altair admin -->
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/main.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/error_page.min.css' %}" media="all">

    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/login_page.min.css' %}" />
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/js/plugins/Drag-And-Drop-File-Uploader-With-Preview-Imageuploadify/dist/imageuploadify.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/custom.css' %}" media="all">
    <script src="{% static 'OmbazarBackEnd/assets/js/angular.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/angular-route.min.js' %}"></script>
    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <link rel="stylesheet" href="assets/css/ie.css" media="all">
    <![endif]-->
</head>
<body class=" sidebar_main_open sidebar_main_swipe " data-ng-app="ombazar" data-ng-controller="basic">
    <!-- main header -->
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">

                <!-- main sidebar switch -->
                <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                    <span class="sSwitchIcon"></span>
                </a>

                <!-- secondary sidebar switch -->
                <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                    <span class="sSwitchIcon"></span>
                </a>

                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>

                        <li ng-if="basic_info.logged_user_id && (basic_info.vendor_id || basic_info.store_id || basic_info.employee_id) && user_type !='employee' ">
                        <a  href="power-undo" id="full_screen_toggle" class="user_action_icon ">
                            <i class="material-icons md-24 md-light">undo</i>
                        </a>
                        </li>

                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" ng-if="basic_info.logged_user_id">

                            <a href="#" class="user_action_image"><img class="md-user-image" src="((basic_info.logged_user.image))" alt=""/></a>

                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a href="profile">Profile</a></li>
                                    <li><a href="logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>

                        <li ng-if="!basic_info.logged_user_id">
                            <a href="login">
                                <i class="material-icons md-24 md-light">lock_open</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </header><!-- main header end -->
    <!-- main sidebar -->
    <aside id="sidebar_main">

        <div class="sidebar_main_header">
            <div class="sidebar_logo">

                <a href="/control" class="sSidebar_hide sidebar_logo_large">
                    <img class="logo_regular" src="((site_logo))" alt="" height="" width=""/>
                    <img class="logo_light" src="((site_logo))" alt="" height="" width=""/>
                </a>
            </div>
            <div class="sidebar_actions">
                <select class="store_switcher">
                    <option value="" selected>select a store</option>
                </select>
            </div>
        </div>

        <div class="menu_section" data-ng-controller="main_menu">
            <ul>
                <li ng-repeat="menu in menus">
                    <a href="((menu.link))">
                        <span class="menu_title">((menu.menu_name))</span>
                    </a>
                    <!-- directive: sub-menus -->
                </li>

            </ul>
        </div>
    </aside><!-- main sidebar end -->
    {% csrf_token %}
    <div id="page_content" ng-view>
        {% block content %}
        {% endblock %}
    </div>
<!--    <script src='https://www.google.com/recaptcha/api.js'></script>-->
    <script src="{% static 'OmbazarBackEnd/assets/js/common.min.js' %}"></script>
    <!-- uikit functions -->
    <script src="{% static 'OmbazarBackEnd/assets/js/uikit_custom.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/js.cookie.js' %}"></script>
    <script type='text/javascript' src='{% static 'OmbazarBackEnd/assets/js/functions.js' %}'></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/custom/uikit_fileinput.min.js' %}"></script>
    <!-- altair common functions/helpers -->
    <script src="{% static 'OmbazarBackEnd/assets/js/altair_admin_common.js' %}"></script>

    <!--tablesorter -->
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/widgets/widget-alignChar.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/widgets/widget-columnSelector.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/widgets/widget-print.min.js' %}"></script>
    <!--  tablesorter functions -->
    <script src="{% static 'OmbazarBackEnd/assets/js/pages/plugins_tablesorter.js' %}"></script>

    <script src="{% static 'OmbazarBackEnd/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/jquery.fancytree/dist/jquery.fancytree-all.min.js' %}"></script>
    <!--  tree functions -->

    <script src="{% static 'OmbazarBackEnd/assets/js/pages/plugins_tree.min.js' %}"></script>
    <!--  dropify -->
    <script src="{% static 'OmbazarBackEnd/assets/js/custom/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/plugins/Drag-And-Drop-File-Uploader-With-Preview-Imageuploadify/imageuploadify.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/plugins/clipboard.js-master/dist/clipboard.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/app.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/custom.js' %}"></script>


</body>
</html>
