
<div id="page_content_inner">
    <div class="md-card fixed-brand" id="top_bar" >
        <div class="md-card-content">
            <h3 class="heading_a uk-margin-bottom">Brands</h3>
            <div class="uk-slidenav-position" data-uk-slider="{autoplay: true,autoplayInterval: '5000',infinite:false}">

                <div class="uk-slider-container">
                    <ul class="uk-slider brand-slider uk-grid uk-grid-small uk-width-medium-1-10 uk-width-small-2-10">

                        <li ng-repeat="brand in brand_slides" style="max-height: 200px"><a class="no_load" href="brand/((brand.store_id))"><img src="((brand.image))" alt=""></a></li>

                    </ul>
                </div>

                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>

            </div>
            <p ng-if="!brand_slides.length">Not found</p>
        </div>
    </div>
</div>
