{% load staticfiles %}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="{% static 'OmbazarBackEnd/assets/img/favicon-16x16.png'%}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'OmbazarBackEnd/assets/img/favicon-32x32.png'%}" sizes="32x32">
    <title>Ombazar</title>
    <base href="/">
    <!-- uikit -->
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/bower_components/uikit/css/uikit.almost-flat.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/skins/jquery.fancytree/ui.fancytree.min.css' %}" media="all">
    <!-- dropify -->
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/skins/dropify/css/dropify.css' %}">
    <!-- altair admin -->
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/main.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/error_page.min.css' %}" media="all">

    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/login_page.min.css' %}" />
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/js/plugins/Drag-And-Drop-File-Uploader-With-Preview-Imageuploadify/dist/imageuploadify.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/js/plugins/odometer-master/themes/odometer-theme-default.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/js/plugins/h-tree/style.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarWeb/assets/css/custom.css' %}" media="all">
    <script src="{% static 'OmbazarBackEnd/assets/js/angular.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/angular-route.min.js' %}"></script>
    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <link rel="stylesheet" href="assets/css/ie.css" media="all">
    <![endif]-->
</head>
<body class=" sidebar_main_open sidebar_main_swipe " data-ng-app="ombazar" data-ng-controller="basic" >

<!-- main header -->
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">

                <!-- main sidebar switch -->
                <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                    <span class="sSwitchIcon"></span>
                </a>

                <!-- secondary sidebar switch -->
                <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                    <span class="sSwitchIcon"></span>
                </a>

                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
                        <li><a href="#" id="main_search_btn" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE8B6;</i></a></li>
                        <li data-uk-tooltip="{pos:'top'}" ng-if="basic_info.logged_user_id" title="Orders"> <a href="orders"><i class="material-icons md-24 md-light">child_friendly</i></a></li>
                        <li class="uk-visible-large" data-uk-tooltip="{pos:'top'}" ng-if="basic_info.logged_user_id" title="Network tree"> <a href="tree"><i class="material-icons md-24 md-light">device_hub</i></a></li>

                        <li data-uk-tooltip="{pos:'top'}" title="Coupon unlock"> <a href="coupon-unlocker" ><i class="material-icons md-24 md-light">card_giftcard</i></a></li>
                        <li class="uk-visible-large" data-uk-tooltip="{pos:'top'}" title="Corporates"> <a href="corporates"><i class="material-icons md-24 md-light">business</i></a></li>


                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" ng-if="basic_info.logged_user_id">

                            <a href="#" class="user_action_image"><img class="md-user-image" src="((basic_info.logged_user.image))" alt=""/></a>

                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a href="profile">Profile</a></li>
                                    <li><a href="logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>

                        <li ng-if="!basic_info.logged_user_id">
                            <a href="login">
                                <i class="material-icons md-24 md-light">lock_open</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header_main_search_form">
            <i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
            <form class="uk-form uk-autocomplete" data-ng-submit="product_search()">
                <input type="text" class="header_main_search_input" ng-model="search_name" placeholder="" data-ng-keypress="product_search()">
                <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
            </form>
        </div>
    </header><!-- main header end -->
    <!-- main sidebar -->
    <aside id="sidebar_main">

        <div class="sidebar_main_header">
            <div class="sidebar_logo">

                <a href="/" class="sSidebar_hide sidebar_logo_large">
                    <img class="logo_regular" src="((site_logo))" alt="" height="" width=""/>
                    <img class="logo_light" src="((site_logo))" alt="" height="" width=""/>
                </a>
            </div>

        </div>

        <div class="menu_section" data-ng-controller="categories">
            <h3 class="uk-text-large padding-left-20 md-card-primary">Products category</h3>
            <ul>
                <li id="((category.category_id))" ng-repeat="category in categories">
                    <a href="products/((category.category_name))">
                        <span class="menu_title">((category.category_name))</span>
                    </a>
                    <!-- directive: sub-categories -->
                </li>
            </ul>
            <h3 ng-if="basic_info.logged_user_id" class="uk-text-large padding-left-20 md-card-primary">My profile</h3>
            <ul ng-if="basic_info.logged_user_id">
                <li>
                    <a href="tree">
                        <span class="menu_title">Network tree</span>
                    </a>
                </li>
                <li>
                    <a href="buy-coupon">
                        <span class="menu_title">Buy coupon</span>
                    </a>
                </li>

                <li>
                    <a href="corporates">
                        <span class="menu_title">Corporates</span>
                    </a>
                </li>

                <li>
                    <a href="requests/top-up">
                        <span class="menu_title">Top ups</span>
                    </a>
                </li>
                <li>
                    <a href="requests/exchange-point">
                        <span class="menu_title">Exchange points</span>
                    </a>
                </li>
                <li>
                    <a href="requests/user-withdraw">
                        <span class="menu_title">Withdraw</span>
                    </a>
                </li>

            </ul>
        </div>
    </aside><!-- main sidebar end -->
    {% csrf_token %}
    <div id="page_content" ng-controller="cart">
        <div id="top_bar">
            <ul id="breadcrumbs">
                <li ng-repeat="page_info in breadcrumbs"><a ng-if="page_info.anchor" href="((page_info.url))">((page_info.name))</a> <span ng-if="!page_info.anchor">((page_info.name))</span></li>
            </ul>
        </div>
        <ng-include src="((cart_path))"></ng-include>
        <ng-view>
            {% block content %}
            {% endblock %}
        </ng-view>
    </div>
    <div id="page_content" class="footer" ng-controller="brand_slides">
        <span class="brand-icon" data-ng-click="slide()" data-uk-tooltip="{pos:'top'}" title="Brands">
            <i class="material-icons">star</i>
        </span>
        <ng-include src="((brand_url))" ng-if="brands_init"></ng-include>
    </div>



<!--    <script src='https://www.google.com/recaptcha/api.js'></script>-->
    <script src="{% static 'OmbazarBackEnd/assets/js/common.min.js' %}"></script>
    <!-- uikit functions -->
    <script src="{% static 'OmbazarBackEnd/assets/js/uikit_custom.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/js.cookie.js' %}"></script>
    <script type='text/javascript' src='{% static 'OmbazarBackEnd/assets/js/functions.js' %}'></script>
    <script type='text/javascript' src='{% static 'OmbazarWeb/assets/js/web-functions.js' %}'></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/custom/uikit_fileinput.min.js' %}"></script>
    <!-- altair common functions/helpers -->
    <script src="{% static 'OmbazarBackEnd/assets/js/altair_admin_common.js' %}"></script>

    <!--tablesorter -->
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/widgets/widget-alignChar.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/widgets/widget-columnSelector.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/widgets/widget-print.min.js' %}"></script>
    <!--  tablesorter functions -->
    <script src="{% static 'OmbazarBackEnd/assets/js/pages/plugins_tablesorter.js' %}"></script>

    <script src="{% static 'OmbazarBackEnd/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/jquery.fancytree/dist/jquery.fancytree-all.min.js' %}"></script>
    <!--  tree functions -->

    <script src="{% static 'OmbazarBackEnd/assets/js/pages/plugins_tree.min.js' %}"></script>
    <!--  dropify -->
    <script src="{% static 'OmbazarBackEnd/assets/js/custom/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/plugins/Drag-And-Drop-File-Uploader-With-Preview-Imageuploadify/imageuploadify.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/plugins/clipboard.js-master/dist/clipboard.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/plugins/odometer-master/odometer.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/plugins/h-tree/js/jquery.tree.js' %}"></script>
    <script src="{% static 'OmbazarWeb/assets/js/app.js' %}"></script>
    <script src="{% static 'OmbazarWeb/assets/js/web-custom.js' %}"></script>


</body>
</html>
