
        <div id="page_content_inner" data-ng-controller="category">
            <form method="post" class="" id="form" >
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Category information</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <ul class="md-list">
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Name</span>
                                                        <span class="uk-text-small uk-text-muted">((category.category_name))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Description</span>
                                                        <span class="uk-text-small uk-text-muted">((category.description))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Parent</span>
                                                        <span class="uk-text-small uk-text-muted">((category.parent_name))</span>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-accordion" data-uk-accordion="{ collapse: false }">
                                                <h3 class="uk-accordion-title">Specifications</h3>
                                                <div class="uk-accordion-content">
                                                    <table>
                                                        <tr data-ng-repeat="(key,val) in category.specifications">
                                                            <th class="uk-text-left">((key))</th>
                                                            <td>:</td>
                                                            <td>((val))</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-width-large-1-2 uk-margin-top">
                                    <div class="uk-width-medium-1-2">
                                        <img src="((category.image))">
                                    </div>
                                    <p>
                                        <label>Active</label>
                                        <input type="checkbox" data-switchery   checked value="1" name="active" disabled>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

