
    <div id="page_content_inner" data-ng-controller="controllers">
        <h4>((page_title))</h4>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <a href="#" class=" " id="printTable" data-uk-tooltip="{pos:'top'}" title="Print">
                        <i class="material-icons md-icon">print</i>
                    </a>
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                        <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>
                    <a href="((add_url))" class="" data-uk-tooltip="{cls:'uk-tooltip-small'}" title="Add ((type))"><i class="material-icons md-icon md-color-green-300">add_circle_outline</i></a>
                    <a ng-if="type=='user'" href="import-user" class="" data-uk-tooltip="{cls:'uk-tooltip-small'}" title="Import user"><i class="material-icons md-icon md-color-gray-300">import_export</i></a>
                </div>
                <div class="uk-overflow-container uk-margin-bottom">
                    <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead>
                            <tr>
                                <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                                <th class="filter-false remove sorter-false" data-priority="6">Image</th>
                                <th data-priority="critical">Name</th>
                                <th data-priority="critical">Active</th>
                                <th data-priority="1">Phone</th>
                                <th data-priority="2">Email</th>
                                <th data-priority="4">Entry date</th>
                                <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Manage</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Active</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Entry date</th>
                                <th class="uk-text-center">Manage</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr data-ng-repeat="controller in rows">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                <td><img class="md-user-image" src="((controller.image))" alt=""/></td>
                                <td>
                                    <a ng-if="type=='user' || type=='employee' || type=='admin' " href="profile/((controller.user_name))">((controller.name))</a>
                                    <a ng-if="type!=='user' && type!=='employee' && type!=='admin' " href="activate/((controller.user_id))">((controller.name))</a>

                                </td>
                                <td class="active-colum">
                                    <span class="uk-badge uk-badge-success" ng-if="controller.active">Active</span>
                                    <span class="uk-badge uk-badge-danger" ng-if="!controller.active">Deactive</span>
                                </td>
                                <td>((controller.calling_code+controller.mobile))</td>
                                <td>((controller.email))</td>
                                <td>
                                    ((controller.time))

                                </td>
                                <td class="uk-text-center icon-relative">
                                    <div class="uk-button-dropdown" data-uk-dropdown="{pos:'left-top',mode:'click'}">
                                        <i class="md-icon material-icons">&#xE5D4;</i>
                                        <div class="uk-dropdown uk-dropdown-small">
                                            <ul class="uk-nav uk-text-left">
                                                <li><a href="edit/((type))/((controller.user_id))" class="uk-text-info"><i class="material-icons">create</i> Edit</a></li>
                                                <li><a href="profile/((controller.user_name))" class="uk-text-info"><i class="material-icons">pageview</i> Profile</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="table_data_init" ng-include="((table_pagination_path))"></div>
            </div>
        </div>
    </div>

