
    <div id="page_content_inner" ng-controller="coupon_generator">
        <div class="md-card">
            <form class="coupon-generator" id="form" ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Coupon generator </h4>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2 uk-margin-bottom parsley-row">
                                    <label>Amount</label>
                                    <input class="md-input" type="text" name="amount" required>
                                </div>
                                <div class="uk-width-large-1-2 uk-margin-bottom parsley-row">
                                    <select class="coupon-type" data-md-selectize name="type" required>
                                        <option value="">Select type</option>
                                        <option value="Print">Print</option>
                                        <option value="Digital">Digital</option>
                                    </select>

                                </div>

                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2">
                                    <button class="md-btn md-btn-primary" button-name="save_and_new">generate</button>
                                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <a href="#" id="printTable"  data-uk-tooltip="{pos:'top'}" title="Print">
                        <i class="material-icons md-icon">print</i>
                    </a>
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                        <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>
                </div>
                <div class="uk-overflow-container uk-margin-bottom print-visible">
                    <table  class=" uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead class="hidden-print">
                        <tr>
                            <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                            <th data-priority="1">Batch</th>
                            <th data-priority="2">Type</th>
                            <th data-priority="2">Amount</th>
                            <th data-priority="4">Entry date</th>

                        </tr>
                        </thead>
                        <tfoot class="hidden-print">
                        <tr>
                            <th></th>
                            <th>Batch</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Entry date</th>
                        </tr>
                        </tfoot>
                        <tbody>
                            <tr data-ng-repeat="batch in rows">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                <td>
                                    <a href="coupons/((batch.batch))">((batch.batch))</a>
                                </td>
                                <td>
                                    ((batch.type))
                                </td>
                                <td>
                                    ((batch.amount))
                                </td>

                                <td>
                                    ((batch.time))
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-include="((table_pagination_path))"></div>
            </div>
        </div>
    </div>

