
    <div class="login_page_wrapper" ng-controller="forgot_password">
        <div class="md-card uk-margin-large-top" id="login_card">
            <div class="md-card-content large-padding" id="login_form">

                <div class="uk-text-right" ng-if="!find_form_switch">
                    <button data-ng-click="back_to_find()" class="md-btn  md-btn-mini md-btn-wave-light md-btn-icon uk-margin-bottom"><i class="material-icons">arrow_back_ios</i></button>
                </div>
                <form class="find-form" data-ng-submit="find_forgots()" ng-if="find_form_switch">
                    <div class="uk-form-row">
                        <label for="login_username">Mobile</label>
                        <input class="md-input" type="text" id="login_username" name="mobile" />
                    </div>

                    <div class="uk-margin-medium-top">
                        <button  class="md-btn md-btn-primary md-btn-block md-btn-large">Find</button>
                    </div>
                </form>
                <form class="confirm-form"  data-ng-submit="confirm_code()" ng-if="confirmation_switch">
                    <div class="uk-margin-bottom"><span class="uk-text-bold">Confirmation code send to:</span> ((code_sender_email))</div>
                    <div class="uk-form-row">
                        <label>Confirmation code</label>
                        <input class="md-input" type="text" name="confirmation_code" />
                    </div>

                    <div class="uk-margin-medium-top">
                        <button  class="md-btn md-btn-primary md-btn-block md-btn-large">Ok</button>
                    </div>
                </form>

                <form class="new-password-form"  data-ng-submit="new_password()" ng-if="new_password_switch">
                    <div class="uk-form-row">
                        <label>New password</label>
                        <input class="md-input" type="password" name="new_password" />
                    </div>
                    <div class="uk-form-row">
                        <label>Repeat password</label>
                        <input class="md-input" type="password" name="repeat_password" />
                    </div>

                    <div class="uk-margin-medium-top">
                        <button  class="md-btn md-btn-primary md-btn-block md-btn-large">Change password</button>
                    </div>
                </form>
                <div class="" ng-if="done_switch">
                    Changed has been saved. If you want to <a href="login"><b>login here</b></a>
                </div>

                <div class="" ng-if="find_list_switch">
                    <ul class="md-list md-list-addon">
                        <li ng-repeat="user in find_list" class="md-card cursor-pointer" data-ng-click="user_select( ((user.user_id)), ((user.email)), ((user.mobile)) )">
                            <div class="md-list-addon-element">
                                <img class="md-user-image md-list-addon-avatar" src="((user.image))" alt=""/>
                            </div>
                            <div class="md-list-content">
                                <span class="md-list-heading">((user.name))</span>
                                <span class="uk-text-small uk-text-muted">Mobile: +((user.calling_code +" "+ user.mobile))</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="" ng-if="not_found_switch">
                    <p>Not found</p>
                </div>
            </div>
        </div>
    </div>
