
    <div id="page_content_inner" data-ng-controller="my_items">
        <h4>((page_title))</h4>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <a href="#" class=" " id="printTable" data-uk-tooltip="{pos:'top'}" title="Print">
                        <i class="material-icons md-icon">print</i>
                    </a>
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                        <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>
                    <a href="add-item" class="" data-uk-tooltip="{cls:'uk-tooltip-small'}" title="Add item"><i class="material-icons md-icon md-color-green-300">add_circle_outline</i></a>

                </div>
                <div class="uk-overflow-container uk-margin-bottom">
                    <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead>
                            <tr>
                                <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                                <th class="filter-false remove sorter-false" data-priority="6">Image</th>
                                <th data-priority="critical">Name</th>
                                <th data-priority="critical">Barcode</th>
                                <th data-priority="critical">Active</th>
                                <th data-priority="1">Quantity</th>
                                <th data-priority="4">Entry date</th>
                                <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Manage</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Barcode</th>
                                <th>Active</th>
                                <th>Quantity</th>
                                <th>Entry date</th>
                                <th class="uk-text-center">Manage</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr data-ng-repeat="item in rows">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                <td><img class="md-user-image" src="((item.images[0]))" alt=""/></td>
                                <td>
                                    <a href="my-item/((item.store_item_id))">((item.item_name))</a>
                                </td>
                                <td>
                                    <img src="((item.bar_code.image))">
                                </td>
                                <td class="active-colum">
                                    <span class="uk-badge uk-badge-success" ng-if="item.active">Active</span>
                                    <span class="uk-badge uk-badge-danger" ng-if="!item.active">Deactive</span>
                                </td>
                                <td>((item.quantity))</td>
                                <td>
                                    ((item.time))
                                </td>
                                <td class="uk-text-center icon-relative">
                                    <div class="uk-button-dropdown" data-uk-dropdown="{pos:'left-top',mode:'click'}">
                                        <i class="md-icon material-icons">&#xE5D4;</i>
                                        <div class="uk-dropdown uk-dropdown-small">
                                            <ul class="uk-nav uk-text-left">
                                                <li><a href="edit-my-item/((item.store_item_id))" class="uk-text-info"><i class="material-icons">create</i> Edit</a></li>
                                                <li><a href="my-item/((item.store_item_id))" class="uk-text-info"><i class="material-icons">pageview</i> View</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-include="((table_pagination_path))"></div>
            </div>
        </div>
    </div>

