
    <div id="page_content_inner" data-ng-controller="orders">
        <h4>((page_title))</h4>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <a href="#" class=" " id="printTable" data-uk-tooltip="{pos:'top'}" title="Print">
                        <i class="material-icons md-icon">print</i>
                    </a>
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                        <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>

                </div>
                <div class="uk-overflow-container uk-margin-bottom">
                    <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead>
                            <tr>
                                <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                                <th data-priority="critical">Order id</th>
                                <th data-priority="critical">Status</th>
                                <th data-priority="1">Phone</th>
                                <th data-priority="1">Email</th>
                                <th data-priority="4">Entry date</th>
                                <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Manage</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Order id</th>
                                <th>Status</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Entry date</th>
                                <th class="uk-text-center">Manage</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr data-ng-repeat="order in rows">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                <td>
                                    <a href="order/((order.order_id))">((order.order_code))</a>
                                </td>
                                <td class="active-colum">
                                    <span class="uk-badge uk-badge-success">((order.status))</span>
                                </td>
                                <td> ((order.customer_info.mobile | if : "+")) ((order.customer_info.calling_code + order.customer_info.mobile))</td>
                                <td>((order.customer_info.email))</td>
                                <td>
                                    ((order.time))
                                </td>
                                <td class="uk-text-center icon-relative">
                                    <div class="uk-button-dropdown" data-uk-dropdown="{pos:'left-top',mode:'click'}">
                                        <i class="md-icon material-icons">&#xE5D4;</i>
                                        <div class="uk-dropdown uk-dropdown-small">
                                            <ul class="uk-nav uk-text-left">
                                                <li><a href="order/((order.order_id))" class="uk-text-info"><i class="material-icons">pageview</i> View</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-include="((table_pagination_path))"></div>
            </div>
        </div>
    </div>

