
    <div id="page_content_inner" ng-controller="order">
        <div class="md-card">
            <div class="md-card-content">

                <h3 class="inline">((order.order_code))</h3> <span class="bold"> Total : ((total_info.grand_total))</span> /  ((order.customer_info.name)) / ((order.time))
                <hr/>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-7-10">
                        <table class="uk-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Vat</th>
                                    <th>Total</th>
                                    <th>Point</th>
                                </tr>

                            </thead>
                            <tbody>

                                <tr ng-repeat="item in order.items">
                                    <td>
                                        <div class="inline-block view-order-item">
                                            <img src="((item.images[0]))">
                                        </div>
                                        <div class="inline-block">
                                            <span>((item.item_name))</span><br>
                                            <span>Code: ((item.item_code))</span><br>
<!--                                            <span>Point: 1500</span>-->
                                        </div>

                                    </td>
                                    <td ng-if="!item.sale">((item.price)) ((currency))</td>
                                    <td ng-if="item.sale">((item.sale)) ((currency))</td>
                                    <td>((item.quantity))</td>
                                    <td>((item.vat))%</td>
                                    <td>((item.line_total)) ((currency))</td>
                                    <td>((item.point))</td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <h3 class="uk-text-right">Total</h3>
                            <table class="uk-table">
                                <tr>
                                    <td class="uk-text-right">Sub total:</td>
                                    <td class="uk-text-right">((order.total_info.sub_total)) ((currency))</td>
                                </tr>
                                <tr>
                                    <td class="uk-text-right">Vat:</td>
                                    <td class="uk-text-right">((order.total_info.vat)) ((currency))</td>
                                </tr>

                                <tr ng-if="order.total_info.total_discount">
                                    <td class="uk-text-right">Discount:</td>
                                    <td class="uk-text-right">((order.total_info.total_discount)) ((currency))</td>
                                </tr>
                                <tr>
                                    <td class="uk-text-right">Grand total:</td>
                                    <td class="uk-text-right">((order.total_info.grand_total)) ((currency))</td>
                                </tr>
                                <tr>
                                    <td class="uk-text-right">Total point:</td>
                                    <td class="uk-text-right">((order.total_info.point))</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="uk-width-medium-3-10">
                        <div class="uk-row-first">
                            <div class="md-card">
                                <div class="md-card-content uk-grid" data-uk-grid-margin>
                                    <div  class="uk-width-medium-4-10">
                                        <p class="uk-margin-top">Order status</p>
                                    </div>

                                    <div class="uk-width-medium-6-10">
                                        <select class="order-status">
                                            <option value="0">Pending</option>
                                            <option value="1">Done</option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                            <div class="md-card md-card-primary">
                                <div class="md-card-content">
                                    <h3>User Information</h3>

                                    <p>
                                        <span>Name: ((order.customer_info.name))</span><br>
                                        <span>Mobile: +((order.customer_info.calling_code))((order.customer_info.mobile))</span><br>
                                        <span>Email: ((order.customer_info.email))</span><br>
                                        <span>Country: ((order.customer_info.nationality.country_name))</span>
                                    </p>
                                </div>

                            </div>
                            <div class="md-card md-card-success">
                                <div class="md-card-content">
                                    <h3>Store Information</h3>
                                    <ol class="order-stores">

                                        <li ng-repeat="store in order.stores">((store.store_name))</li>


                                    </ol>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>

