<div id="page_content_inner" ng-controller="point_manager">
    <h4>Point manager</h4>
    <div class="uk-grid uk-grid-width-medium-1-2" data-uk-grid-margin>
        <div ng-repeat="rule in rules">
            <div class="md-card" id="random_progress">
                <div class="md-card-toolbar" data-toolbar-progress="12" data-toolbar-progress-steps="true">
                    <h3 class="md-card-toolbar-heading-text">
                        ((rule.rule_name)) <span id="progress_value"></span>
                    </h3>
                </div>
                <div class="md-card-content">
                    <form class="rule-edit">
                        <input type="hidden" value="((rule.id))" name="id">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-2-10 uk-margin-top parsley-row uk-text-right" >
                                <label>1 ((rule.unit_symbol)) = </label>
                            </div>
                            <div class="uk-width-medium-4-10 parsley-row">
                                <label>Amount</label>
                                <input class="md-input" type="text" name="amount" required value="((rule.amount))">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top" >
                                <label>((rule.expand_symbol))</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>