
        <div id="page_content_inner" ng-controller="pos">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3 ">
                    <div class="pos-selected-items-part pos" data-uk-sticky="{ top: 60, media: 960 }">
                        <div class="md-card">
                            <div class="md-card-content">
                                <form class="pos-search-form" data-ng-submit="search()">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-2-10">
                                            <div  class="add-pos-user md-fab  uk-button-dropdown" data-uk-dropdown="{pos:'right-top',mode:'click'}" data-uk-tooltip="{'pos':'top'}" title="((customer_name))">
                                                <span><i ng-if="!customer_image" class="material-icons">person_add</i>
                                                    <img ng-if="customer_image" src="((customer_image))">
                                                </span>
                                                <div class="uk-dropdown">
                                                    <div class="uk-grid">
                                                        <div class="uk-width-medium-1-1">
                                                            <select class="pos-user-search" name="pos_user">
                                                                <option value="">Search user</option>
                                                            </select>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-6-10 relative">
                                            <ul class="uk-tab pos-input-tabs" data-uk-tab="{connect:'#pos_input'}">
                                                <li><i class="material-icons">keyboard_arrow_left</i></li>
                                                <li><i class="material-icons">keyboard_arrow_right</i></li>
                                            </ul>
                                            <ul id="pos_input" class="uk-switcher">
                                                <li>
                                                    <label for="product_bar_code_name">Bar code</label>
                                                    <input type="text" class="md-input" id="product_bar_code_name" ng-model="search_bar_code" name="bar_code">
                                                </li>
                                                <li>
                                                    <label for="product_search_name">Item Name</label>
                                                    <input type="text" class="md-input" id="product_search_name" ng-model="search_name" name="product_search_name">
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="uk-width-medium-2-10 uk-text-center">
                                            <button  class="search-pos-item md-fab" >
                                                <i class="material-icons">search</i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="md-card-content  pos-content">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-1-1">
                                        <table class="uk-table uk-margin-bottom-remove">
                                            <thead>
                                            <tr>
                                                <th>Item Name</th>
                                                <th>Price</th>
                                                <th>Qnt</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                        </table>
                                        <div class="uk-overflow-container">
                                            <table class="uk-table cart-table">
                                                <tbody>
                                                    <tr class="cart-item" ng-repeat="item in cart" data-id="((item.store_item_id))">
                                                        <td class="">

                                                            <img class="img_thumb" src="((item.images[0]))" alt="">
                                                            <span  data-uk-tooltip="{pos:'top'}" title="((item.item_name)) Point : ((item.point))">
                                                                ((item.item_name))
                                                                <span ng-if="item.sale"><del>((item.price)) ((currency))</del> ((item.sale))((currency))</span>
                                                                <span ng-if="!item.sale">((item.price))((currency))</span>
                                                            </span>


                                                        </td>
                                                        <td>((item | object_line_total)) ((currency))</td>
                                                        <td>
                                                            <div class="quantity-manager">
                                                                <input type="number" min="0" class="quantity hover" value="((item.quantity))">
                                                            </div>
                                                        </td>
                                                        <td class=" cart-line-total-field"><a href="#" class="cart-delete-button" ng-click="delete_cart_item($index, ((item.store_item_id)) )"><i class="material-icons " style="color:md-color-cyan-700">close</i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="cart-message" ng-if="!cart.length"><h1>Cart empty</h1></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="calculation uk-margin-top">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-3-10">
                                            <label>Discount</label>
                                            <input type="text" class="md-input cart-discount-field" ng-model="discount">
                                        </div>

                                        <div class="uk-width-medium-7-10 uk-text-right">
                                            <div class="point-total">
                                                Point= <span>((point))</span>
                                            </div>
                                            <div class="sub-total">
                                                Sub total= <span class="cart-sub-total">((sub_total))</span>
                                            </div>
                                            <div class="vat-total">
                                                Vat= <span>((vat))</span>
                                            </div>
                                            <div class="discount">
                                                Discount= <span class="cart-discount">((total_discount))</span>
                                            </div>

                                            <div class="total">
                                                Total= <span class="cart-total">((grand_total)) </span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <hr class="hr">
<!--                                <div class="change-element">-->
<!--                                    <div class="inline"><span class="amount">600</span> =</div>-->
<!--                                    <div class="inline"><span class="amount">500</span>×<span class="amount-quantity">1</span> </div> ,-->
<!--                                    <div class="inline"><span class="amount">100</span>×<span class="amount-quantity">2</span> </div> ,-->
<!--                                    <div class="inline"><span class="amount">100</span>×<span class="amount-quantity">10</span> </div> ,-->
<!--                                    <div class="inline"><span class="amount">50</span>×<span class="amount-quantity">30</span> </div> ,-->
<!--                                    <div class="inline"><span class="amount">10</span>×<span class="amount-quantity">1</span> </div>-->
<!--                                </div>-->


                                <div class="procceed-buttons uk-text-center" ng-if="cart.length">
                                    <button href="#" class="md-btn md-btn-flat md-btn-wave waves-effect waves-button" data-ng-click="clear_cart()">Cancel</button>
                                    <button class="md-btn md-btn-success uk-margin-small-top pos-payment-button" data-ng-click="order()">Payment</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-2-3">
                    <div class="pos-items pos uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 hierarchical_show" data-uk-grid="{gutter: 20, controls: '#products_sort'}">
                        <div ng-repeat="product in rows" class="pos-item">
                            <div class="md-card md-card-hover-img ((product.store_item_id | object_exist : cart : 'store_item_id' : 'active-pos-item'))" data-ng-click="add_to_cart( ((product.store_item_id)) )">
                                <div class="md-card-head uk-text-center uk-position-relative">
                                    <div class="uk-badge uk-badge-danger uk-position-absolute uk-position-top-left uk-margin-left uk-margin-top">((product.quantity)) Pcs</div>
                                    <img class="md-card-head-img" src="((product.images[0]))" alt=""/>
                                </div>
                                <div class="md-card-content">
                                    <h4 class="heading_c uk-margin-bottom">
                                        ((product.item_name))
                                        <p class="sub-heading">Price:
                                            <span ng-if="product.sale">
                                                <del>((product.price)) ((currency))</del>
                                                ((product.sale)) ((currency))
                                            </span>
                                            <span ng-if="!product.sale">
                                                ((product.price)) ((currency))
                                            </span>
                                        </p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" ng-if="!rows.length">
                        <h1>Not found</h1>
                    </div>
                </div>
            </div>

        </div>