
    <div id="page_content_inner" ng-controller="prize_manager">
        <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
            <div class="uk-width-large-1-11">
                <div class="md-card user_content">
                    <form class="add-prize" id="form" data-ng-submit="submit()">
                        <h4 class="heading_c uk-margin-bottom ">Coupon prize manager </h4>

                        <div class="uk-grid form_section " id="d_form_row" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2">
                                <label>Prize name</label>
                                <input type="text" class="md-input" name="prize_name">
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-input-group">
                                    <label>Unlock amount</label>
                                    <input type="text" class="md-input" name="unlock_amount">
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid">
                            <div class="uk-width-large-1-2">
                                <button class="md-btn md-btn-primary" button-name="save_and_new">Save</button>
                                <button type="reset" class="md-btn md-btn-info">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-margin-bottom">
                            <a href="#" class=" " id="printTable" data-uk-tooltip="{pos:'top'}" title="Print">
                                <i class="material-icons md-icon">print</i>
                            </a>
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                                <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                                <div class="uk-dropdown">
                                    <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                                </div>
                            </div>

                        </div>
                        <div class="uk-overflow-container uk-margin-bottom">
                            <table  class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                                <thead>
                                <tr>
                                    <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all" name="f"></th>
                                    <th data-priority="critical">Prize name</th>
                                    <th data-priority="critical">Unlock amount</th>
                                    <th data-priority="4">Entry date</th>
                                    <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Manage</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Prize name</th>
                                    <th>Unlock amount</th>
                                    <th>Entry date</th>
                                    <th class="uk-text-center">Manage</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                    <tr data-ng-repeat="prize in rows">
                                        <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>

                                        <td>
                                            ((prize.prize_name))
                                        </td>

                                        <td>
                                            ((prize.unlock_amount))
                                        </td>
                                        <td>
                                            ((prize.time))
                                        </td>
                                        <td class="uk-text-center icon-relative">
                                            <div class="uk-button-dropdown" data-uk-dropdown="{pos:'left-top',mode:'click'}">
                                                <i class="md-icon material-icons">&#xE5D4;</i>
                                                <div class="uk-dropdown uk-dropdown-small">
                                                    <ul class="uk-nav uk-text-left">
                                                        <li><a data-prize-id="((prize.prize_id))" data-ng-click="edit($event)" class="uk-text-info"><i class="material-icons">create</i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-include="((table_pagination_path))"></div>
                    </div>
                </div>


            </div>
        </div>

        <div class="uk-modal" id="prize-edit" >
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Prize edit</h3>
            </div>
            <form class="prize-edit">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <label>Prize name</label>
                        <input type="text" class="md-input" name="prize_name" value="((modal_context.edit_prize_name))">
                    </div>
                    <input type="hidden" value="((modal_context.edit_prize_id))" name="prize_id">
                    <div class="uk-width-medium-1-2">
                        <div class="uk-input-group">
                            <label>Unlock amount</label>
                            <input type="text" class="md-input" name="unlock_amount" value="((modal_context.edit_unlock_amount))">
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-large-1-2">
                        <button class="md-btn md-btn-primary" button-name="save_and_new">Save</button>
                        <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


